/*
    CMPS4191 - Quiz #2
	Rene Sanchez - 2018118383
*/
/*Rules for sizing the icon*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.header {
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.header h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.star-button {
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}
